/training-content
/microsoft-stuff
/Labs/02 - SDK Sample - Before/SharePointBrugerGruppe.SdkSample/packages
/Labs/02 - SDK Sample - Before/SharePointBrugerGruppe.SdkSample/.vs/SharePointBrugerGruppe.SdkSample/v15
/Labs/02 - SDK Sample - Before/SharePointBrugerGruppe.SdkSample/bin/Debug
/Labs/02 - SDK Sample - Before/SharePointBrugerGruppe.SdkSample/obj/Debug
/Labs/02 - SDK Sample - Before/.vs/02 - SDK Sample Before/v15
/Labs/02 - SDK Sample - After/.vs/02 - SDK Sample Before/v15
/Labs/02 - SDK Sample - After/SharePointBrugerGruppe.SdkSample/.vs/SharePointBrugerGruppe.SdkSample/v15
/Labs/02 - SDK Sample - After/SharePointBrugerGruppe.SdkSample/bin/Debug
/Labs/02 - SDK Sample - After/SharePointBrugerGruppe.SdkSample/obj/Debug
/Labs/02 - SDK Sample - After/SharePointBrugerGruppe.SdkSample/packages
